
Src/OnlineShop/.vs/OnlineShop/v15/Server/sqlite3/storage.ide
Src/OnlineShop/.vs/OnlineShop/v15/Server/sqlite3/storage.ide-shm
Src/OnlineShop/.vs/OnlineShop/v15/Server/sqlite3/storage.ide-wal
Src/OnlineShop/.vs/OnlineShop/v15/Server/sqlite3/db.lock
Src/OnlineShop/.vs/OnlineShop/v15/.suo
Src/OnlineShop/.vs/OnlineShop/v15/.suo
Src/OnlineShop/.vs/OnlineShop/v15/Server/sqlite3/storage.ide-shm
Src/OnlineShop/.vs/OnlineShop/v15/Server/sqlite3/storage.ide
Src/OnlineShop/.vs/OnlineShop/v15/Server/sqlite3/storage.ide-shm
*.ide-shm
Src/OnlineShop/.vs/OnlineShop/v15/Browse.VC.db
Src/OnlineShop/.vs/OnlineShop/v15/Browse.VC.opendb
*.ipch
*.ide-wal
*.lock
*.ide
Src/OnlineShop/.vs/OnlineShop/v16/.suo
Src/OnlineShop/.vs/OnlineShop/v16/.suo
