
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

<!--begin::Portlet-->
<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Icon Tabs
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
   
        <div class="kt-separator kt-separator--dashed"></div>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#kt_tabs_1_1">
                    <i class="flaticon-list"></i> <span class="kt--visible-desktop-inline-block">Table</span>
                </a>
            </li>
        
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#kt_tabs_1_3">
                    <i class="flaticon-placeholder-2"></i> <span class="kt--visible-desktop-inline-block">Tree</span>
                </a>
            </li>
           
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="kt_tabs_1_1" role="tabpanel">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>

            <div class="tab-pane" id="kt_tabs_1_3" role="tabpanel">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
            </div>
        </div>
    </div>
</div>

<!--end::Portlet-->
